* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 15px Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #21222c;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-table {
  width: 80%;
  height: 90%;
  border-radius: 10px;
  background-color: #393a42;
  -webkit-box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.26);
  color: #fff;
}

.main-table thead {
  background-color: #646568;
  height: 30px;
}

.main-table td{
  padding: 0 10px;
}

th {
  padding: 0 10px;
  border: 1px solid #fff;
}

.main-table th {
  text-align: left;
}

input {
  border: 0;
  outline: none;
  padding: 4px 10px;
  border-radius: 5px;
}